.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: rgb(10, 10, 10);
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 5px;
  }


  .grid-container > div {
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}

.Text{
    color: red;
}

.checkbox 
{ 
    position: relative; 
    top: 0px; 
    right: 0px; 
}

.btn-primary
{
    background-color: seagreen;
}